#login-fields, #login-submit, #username, #password{
  display: inline-block;
}

#login-button{
  border-radius: 15px;
  outline: none;
}
#login-region {
  float: right;
}

#pep8coin-count, #coin-count-text, #logged-in-message{
  display: none;
  vertical-align: middle;
}
#header-region{
  padding: 15px;
}
#doubleup{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 120px;
    line-height: 300px;
    padding: 0;
}
#main-region{
    padding: 20px;
}
#pep8coin-count{
    width: 25px;
    height: 25px;
}
.navbar-inverse {
    background-color: transparent !important;
    border-style: none !important;
    border-radius: 0px !important;
}
/* .pep8btn, .pep8btn-hover, .pep8btn:active, .pep8btn:visited{
    border-width: 2px !important;
    transition: 0.2s;
    border-color: white !important;
    background-color: transparent !important;
}
.pep8btn:hover, .pep8btn:active, .pep8btn:visited{
    background-color: #ff0066 !important;
} */

.btn-primary {
  border-style: none !important;
  background-color: black !important;
}
.btn-primary:focus, .btn-primary:active {
  box-shadow: none!important;
}
.card-img-top{
  border-bottom: solid;
  border-color: grey;
}

.case-images{
  cursor: pointer;
  transition: all 0.8s;
}
.cases{
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  height: 400px;
  width: 400px;
}
.case-images:hover {
  height: 290px;
  width: 290px;

}
.case-images:active {
  transition: all 0.1s;
  height: 275px;
  width: 275px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card{
  display: inline-block !important;
}
.case-red{
  height: 50px;
  width: 50px;
  border: 1px solid rgba(220,20,60,1);
  background: linear-gradient(rgba(220,20,60,0.3),rgba(220,20,60, 1));
  border-image: linear-gradient(rgba(220,20,60,0.3),rgba(220,20,60, 1)) 20 stretch;
}
.case-pink{
  height: 50px;
  width: 50px;
  border: 1px solid rgba(219,43,172,1);
  background: linear-gradient(rgba(219,43,172,0.3),rgba(219,43,172,1));
  border-image: linear-gradient(rgba(219,43,172,0.3),rgba(219,43,172,1)) 20 stretch;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  color: white ;
  background: url("img/bg-pattern.png"), #7b4397;
  background: url("img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}
