#login-fields, #login-submit, #username, #password{
  display: inline-block;
}

#login-button{
  border-radius: 15px;
  outline: none;
}
#login-region {
  float: right;
}

#pep8coin-count, #coin-count-text, #logged-in-message{
  display: none;
  vertical-align: middle;
}
#header-region{
  padding: 15px;
  background: linear-gradient(to left, #7b4397, #dc2430);
}
.navbar{
  background: linear-gradient(to left, #7b4397, #dc2430) !important;
}
.nav-link{
  color: black !important;
}
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgba(0, 0, 0, 0) !important;
}
.nav-pills .pill-1 .nav-link {
    background-color: orange !important;
}
#hidden-stuff{
  display: none;
}
#inventory-region{
  display: none;
}
#full-header{
  background: linear-gradient(to left, #7b4397, #dc2430);
  border-bottom: 1px solid;
  border-color: orange;
}
#doubleup{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 120px;
    line-height: 300px;
    padding: 0;
}
#main-region{
    padding: 20px;
}
.pep8coin{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.navbar-inverse {
    background-color: transparent !important;
    border-style: none !important;
    border-radius: 0px !important;
}
/* .pep8btn, .pep8btn-hover, .pep8btn:active, .pep8btn:visited{
    border-width: 2px !important;
    transition: 0.2s;
    border-color: white !important;
    background-color: transparent !important;
}
.pep8btn:hover, .pep8btn:active, .pep8btn:visited{
    background-color: #ff0066 !important;
} */

.btn-primary {
  border-style: none !important;
  background-color: rgb(255,140,0) !important;
  color: black !important;
}
.btn-primary:focus, .btn-primary:active {
  box-shadow: none!important;
}
.card-img-top{
  border-bottom: solid;
  border-color: grey;
}

.case-images{
  cursor: pointer;
  transition: all 0.8s;
}
.cases{
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  height: 400px;
  width: 400px;
}
.case-images:hover {
  height: 290px;
  width: 290px;

}
.case-images:active {
  transition: all 0.1s;
  height: 275px;
  width: 275px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card{
  display: inline-block !important;
}
.case-items-small{
  height: 50px;
  width: 50px;
  margin-top: 3px;
}
.case-red{
  border: 1px solid rgba(220,20,60,1);
  background: linear-gradient(rgba(220,20,60,0.3),rgba(220,20,60, 1)), white;
  border-image: linear-gradient(rgba(220,20,60,0.3),rgba(220,20,60, 1)) 20 stretch;
}
.case-pink{
  border: 1px solid rgba(219,43,172,1);
  background: linear-gradient(rgba(219,43,172,0.3),rgba(219,43,172,1)), white;
  border-image: linear-gradient(rgba(219,43,172,0.3),rgba(219,43,172,1)) 20 stretch;
}
.case-purple{
  border: 1px solid rgb(106,90,205, 1);
  background: linear-gradient(rgb(106,90,205, 0.3),rgb(106,90,205, 1)), white;
  border-image: linear-gradient(rgb(106,90,205, 0.3),rgb(106,90,205, 1)) 20 stretch;
}
.case-blue{
  border: 1px solid rgb(65,105,225, 1);
  background: linear-gradient(rgb(65,105,225, 0.3),rgb(65,105,225, 1)), white;
  border-image: linear-gradient(rgb(65,105,225, 0.3),rgb(65,105,225, 1)) 20 stretch;
}
.case-light-blue{
  border: 1px solid rgb(135,206,250, 1);
  background: linear-gradient(rgb(135,206,250, 0.3),rgb(135,206,250, 1)), white;
  border-image: linear-gradient(rgb(135,206,250, 0.3),rgb(135,206,250, 1)) 20 stretch;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  background: url("img/bg-pattern.png"), #7b4397;
  background: url("img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}

.inventory-items{
  height: 100px;
  width: 100px;
}
.inventory-item{
  display: inline-block;
  position: relative;
}
.item-quantity{
  position: absolute;
  top: 85px;
  left: 8s5px;
  background-color: white;
}
